@model List<CarResponse>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/collection.css" rel="stylesheet" />
    <script src="~/js/script.js" defer></script>
</head>
<body>


    <div class="main">
        <div class="nav-bar">

            <a href="/">Home</a>
            <div class="auth-list--wrapper">
            <ul class="auth-list">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="/logout">Log out</a></li>
            }
            else
            {
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>
            }
            </ul>
            </div>
        </div>
        <div class="main-2">


            @foreach(var car in Model)
            {
                

            <div class="car-info__wrapper">
                <div class="product-img" src="" alt="car">
                    <div class="car-title">
                        @car.Make @car.Model
                    </div>
                </div>
                <ul class="two-col">
                    <li><span class="label">Mileage:</span><span class="value">@car.Mileage</span></li>
                    <li><span class="label">Year:</span><span class="value">@car.Year</span></li>
                    <li><span class="label">Color:</span><span class="value">@car.Color</span></li>
                    <li><span class="label">Fuel Type:</span><span class="value">@car.Fuel.ToString()</span></li>
                    <li><span class="label">Transmission:</span><span class="value">@car.Transmission</span></li>
                        <li><span class="label">Price:</span><span class="value">€@car.Price</span></li>

                </ul>
            </div>

            }


            

        </div>

    </div>
</body>
</html>